div{
    background-image: url(https://ik.imagekit.io/4z8covdo9/Full%20stack/todolistbg.png?updatedAt=1700761069523);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0 200px 0 ;
    color: white;
    height: 600px;
    width: 330px;
    padding: 0 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.center{
    text-align: center;
}
button{
    margin-left: 40%;
    background-color: Orange;
    color: aliceblue;
    width: 50px;
    height: 25px;
}
a{
    display: block; /* Makes the <a> a block-level element */
    margin: 0 auto;
    color: antiquewhite;
}